development:
  PRIVATE_PUB_SECRET_TOKEN: 'your local development token here'
  PRIVATE_PUB_SERVER: 'http://localhost:3030/faye'

production:
  PRIVATE_PUB_SECRET_TOKEN: 'your local development token here'
  PRIVATE_PUB_SERVER: 'http://faye.distantserver.com/faye'
  